.About{
    display: flex;
    flex-direction: row;
}
.us{
    text-align: center;
}
.About-img{
    text-align: center;
    flex: 0 0 50%;
    flex-wrap: wrap;
    width: 50%;
}
.AboutClass{
    height: 250px;
  
}
.About-des{
    flex: 0 0 50%;
    flex-wrap: wrap;
    width: 50%;
}